body {
    height: calc(100vh - 60px);
    overflow: hidden;
}

main {
    height: 100%;
    margin-bottom: 60px;
}

    main .container {
        height: 100%;
        margin-bottom: 60px;
    }

p.controls {
    position: absolute;
    bottom: 70px;
    width: 100%;
    left: 0;
}
